<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smmx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>simplemind.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SimpleMind Mind Map</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.modelmakertools.simplemind.mindmapx</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SimpleMindDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>NSPDFPboardType</string>
				<string>Portable Network Graphics (PNG)</string>
				<string>NSTIFFPboardType</string>
				<string>public.html</string>
				<string>public.plain-text</string>
				<string>opml file</string>
				<string>Freemind file (MM)</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.png</string>
				<string>public.tiff</string>
				<string>public.html</string>
				<string>public.plain-text</string>
				<string>opml file</string>
				<string>Freemind file (MM)</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>NSBinaryStoreType</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smmstore</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>simplemind.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SimpleMind Mind Map Store</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.modelmakertools.simplemind.smmxstore</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smmstyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>simplemind</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SimpleMind Custom Style</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.modelmakertools.simplemind.smmstyle</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smm-doc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>simplemind.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SimpleMind Mind Map (smm-doc)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.modelmakertools.simplemind.mindmap</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SimpleMindDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>simplemind.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SimpleMind Touch Mind Map</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>nl.xpt.simplemind</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SimpleMindDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSPDFPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphics (PNG)</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSTIFFPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SimpleMindDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>opml file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SimpleMindDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Freemind file (MM)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SimpleMindDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SimpleMind Free</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2009-2015, ModelMaker Tools BV. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>simplemind.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.modelmakertools.simplemindmacstd</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SimpleMind Free</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.9.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A382</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0611</string>
	<key>DTXcodeBuild</key>
	<string>6A2008a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.6</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009-2015, ModelMaker Tools BV. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>SimpleMindMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>simplemind.icns</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SimpleMind Mind Map</string>
			<key>UTTypeIconFile</key>
			<string>simplemind.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.modelmakertools.simplemind.mindmapx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smmx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SimpleMind Mind Map Store</string>
			<key>UTTypeIconFile</key>
			<string>simplemind.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.modelmakertools.simplemind.smmxstore</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smmstore</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SimpleMind Custom Style</string>
			<key>UTTypeIconFile</key>
			<string>simplemind</string>
			<key>UTTypeIdentifier</key>
			<string>com.modelmakertools.simplemind.smmstyle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smmstyle</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>simplemind.icns</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SimpleMind Mind Map (smm-doc)</string>
			<key>UTTypeIconFile</key>
			<string>simplemind.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.modelmakertools.simplemind.mindmap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smm-doc</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>SimpleMind Touch Mind Map</string>
			<key>UTTypeIconFile</key>
			<string>simplemind.icns</string>
			<key>UTTypeIdentifier</key>
			<string>nl.xpt.simplemind</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
